name: APK Android

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Checkout no código
    runs-on: ubuntu-latest 
    steps:
      - name:  Checkout no código 
        uses: actions/checkout@v2

  install_java:
      name: Configurando Java
      runs-on: ubuntu-latest
      needs: build
      steps:
      - name: Configurando Java
        uses: actions/setup-java@v1
        with:
          java-version: "12.x"

  install_flutter:
      name: Instalado Flutter
      runs-on: ubuntu-latest
      needs: install_java
      steps:
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '3.10.6'
