name: APK Android

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Checkout no código
    runs-on: ubuntu-latest 
    steps:
      - name:  Checkout no código 
        uses: actions/checkout@v2

  install_java:
      name: Configurando Java
      runs-on: ubuntu-latest
      needs: build
      steps:
      - name: Configurando Java
        uses: actions/setup-java@v1
        with:
          java-version: "12.x"

  install_flutter:
      name: Configurando Flutter
      runs-on: ubuntu-latest
      needs: install_java
      steps:
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '3.10.6'
  
  restore_pacages:
      name: Restaurando Pacotes e Analyze
      runs-on: ubuntu-latest
      needs: install_flutter
      steps:
      - run: flutter clean && flutter pub get && flutter analyze
      
  build_android:
     name: Build Android APK
     runs-on: ubuntu-latest
     needs: restore_pacages
     steps:
     - run: flutter build apk --release

  android_artefacts:
     name: Publish Android Artefacts
     runs-on: ubuntu-latest
     needs: build_android
     steps:
     - uses: actions/upload-artifact@v1
       with:
         name: APK Release Mode
         path: build/app/outputs/apk/release/app-release.apk
